<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/index.css">
    <!-- <link rel="stylesheet" href="/public/kinship.css"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试</title>
    <style>
        html,
        body,
        #app {
            height: 100%;
            width: 100%
        }

        .header {
            display: flex;
            height: 50px;
        }

        .header>div {
            flex: 1;
            margin: 4px;
            border: 1px solid #ccc
        }
    </style>
</head>

<body>
    <div class="header">
        <div>
            <a href='index'>首页</a>
        </div>
        <div>
            <a href='index1'>测试</a>
        </div>
        <div></div>
    </div>
    <script>
        const USER_INFO = {}
    </script>
    <div id="app">
        <svg id="kinship-box">
            <g/>
        </svg>
    </div>
    
</body>

</html>